@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
main {
    color: white;
    background-color: rgb(34, 33, 33);
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url(../images/mobile-bg.jpg);
    text-align: center;
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
img {
    height: 50px;
    width: 100px;
    margin: 10px 0 0 20px;
}
li {
    list-style: none;
a {
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 3px;
    margin-right: 20px;
}
}
}
h2 {
    margin: 50px 20px 20px 20px;
    color: white;
}
input {
    padding: 10px 100px 10px 5px;
    margin: 20px 14px 0 20px;
}
button {
    margin: 20px 0 50px 0;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
}
.content1 {
    background-color: black;
    text-align: center;
    margin-top: 10px;
.left-content {
    h2 {
        padding: 50px;
    }
}
.right-content {
    padding-bottom: 50px;
    img {
        height: 300px;
        width: 400px;
    }
}
}
.content2 {
    margin-top: 10px;
    background-color: black;
    text-align: center;
.left-content {
     h2 {
        padding: 50px;
    }
}
.right-content {
     padding-bottom: 50px;
    img {
        height: 300px;
        width: 400px;
    }
}
}
.content3 {
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 50px;
}
.content4 {
    background-color: black;
    text-align: center;
    margin-top: 10px;
    padding: 50px;
img {
    height: 300px;
    width: 300px;
    }
}
.content5 {
    background-color: black;
    margin-top: 10px;
h2 {
    text-align: center;

    padding: 30px;
}
    #box {
        background-color: rgb(58, 58, 58);
        margin-top: 10px;
        padding: 15px;
    }
    #info {
        display: none;
        padding: 5px;

        p {
            text-align: justify;
        }
    }
.more-info {
    margin: 10px;
    text-align: center;
}
input {
    padding: 10px 100px 10px 5px;
    margin: 20px 14px 0 80px;
}
button {
    margin: 20px 0 50px 155px;
    padding: 10px 20px 10px 20px;
    background-color: red;
    color: white;
    border: none;
}
}
.content6 {
    background-color: black;
    margin-top: 10px;
    padding: 20px 0 0 30px;
    color: rgb(226, 226, 226);
    font-size: 12px;
    
p {
    margin: 15px 0 15px 0;
    
}
.links {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    li {
        list-style: none;
        padding: 10px;
        opacity: .5;
    }
    a {
        text-decoration: none;
        color: rgb(226, 226, 226);
        
    }
}
}
@media only screen and (min-width: 1440px) {
header {
 h2 {
    font-size: 55px;
    width: 45%;
    margin-left: 28%;
    margin-top: 150px;
    }
p {
    font-size: 20px;
    line-height: 2;
}
nav {
img {
    margin:20px 0 0 50px;
    height: 50px;
    width: 150px;
}
li {
    margin-right: 50px;
a {
    padding: 5px 10px 5px 10px;
}
}
}
input {
    padding: 20px 350px 20px 5px;
    margin-right: 0;
}
button {
    padding: 22px 15px 22px 15px;
    margin-left: 0;
}
}
.content1 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
.left-content {
    margin-left: 200px;
    text-align: left;
h2 {
    font-size: 30px;
}
p {
    font-size: 20px;
    margin: 0 0 0 50px;
}
}
}
.content2 {
    display: grid;
    grid-template-columns: repeat(2,auto);
.left-content {
    margin-left: 200px;
    width: 50%;
    text-align: left;
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 20px;
        margin: 0 0 0 50px;
    }
} 
.right-content {
    margin-right: 100px;
}
    }


.content3 {
  text-align: left;
h2 {
    font-size: 50px;
    margin-left: 10rem;
}
p {
    font-size: 20px;
    width: 30%;
    margin-left: 10.5rem;

}
}
.content4 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    text-align: left;
.left-content {
    margin-left: 200px;
    margin-top: 30px;
    font-size: 20px;
}
.right-content {
    margin-left: 200px;
}
}
.content5 {
h2 {
    font-size: 45px;
}
    #box {
        margin: 10px 400px 0 400px;
        padding: 20px 0 20px 10px;
    }
    input {
        padding: 20px 350px 20px 5px;
        margin-left:450px;
        margin-right: 0;
    }
    button {
        padding: 22px 15px 22px 15px;
        margin-left: 0;
    }
}
.content6 {
    
p {
    margin-left: 310px;
    font-size: 15px;
    opacity: .5;
}
    .links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 300px 0 300px;
    
    }
}
}